@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto&display=swap');

body {
  background-color: lightgray;
  color: black;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  font-weight: bold;
  border: 1px dashed darkgray;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
  font-weight: lighter;
  font-style: italic;
}

h3 {
  text-decoration: underline;
}

h4 {
}

h5 {
  padding-left: 10px;
}

p {
  font-style: italic;
  padding-left: 20px;
}


a {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
  text-align: center;
}
